*.a
*.o
*~
#*
*/#*
README.html
include/server.h
server/server
server/serverdb
server/serverdb.exe
*.db
server/server.exe
shell/shell
shell/shell.exe
Makefile.local
paxos/paxos_replica
apps/leader_elect
apps/double_barrier
